<!doctype html>
<html lang="en">
  <%- include('./partials/head', {title: 'Gaming Zone - Error 404'}) %>
  <body>

    <%- include('./partials/header') %>

    <main>
      <div class="container text-center py-5">
        <h1 style="font-size:12em;" class="mb-0 lh-1">404</h1>
        <h3 class="mb-3">Ups... pagina no encontrada</h3>
        <a href="/" type="button" class="btn btn-primary btn-lg">Volver al inicio</a>
      </div>
      <%- include('./partials/newsletter') %>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>