<!doctype html>
<html lang="en">
  <%- include('./partials/head', {title: 'Gaming Zone - Error 404'}) %>
  <body>

    <%- include('./partials/header') %>

    <main>
      <div class="container">
        no se encontro el archivo
      </div>
      <%- include('./partials/newsletter') %>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>