<!doctype html>
<html lang="en">
  <%- include('./partials/head', {title: 'Gaming Zone - Cart'}) %>
  <body>  
    <%- include('./partials/header') %>
    <main>
        <div class="container">
            <h2 class="mb-4">Carrito</h2>
            <div class="row">
                <div class="col-12 col-xl-8 col-xxl-9" id="cart-items">
                  <div id="emptyCart"></div>
                    <div class="row d-flex align-items-center g-3 mt-2 mb-5 text-center text-md-start justify-content-center justify-content-md-start">
                      <div class="col-12 col-md-auto">
                        <label for="cupon" class="">Cup칩n de Descuento</label>
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control bg-semi-dark border-0 text-white" id="cupon" placeholder="C칩digo de cup칩n...">
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary">A침adir</button>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-xxl-3">
                    <div id="cart-resume" class="bg-primary-dark p-4 rounded mb-5">
                            <div class="d-flex justify-content-between">
                                <p>Subtotal</p>
                                <p class="text-muted"><span id="cartSubtotal"></span> USD</p>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p>Descuento</p>
                                <p class="text-muted">-<span id="cartDiscount"></span> USD</p>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between cart-total">
                                <p>Total</p>
                                <p><span id="cartTotal"></span> USD</p>
                            </div>
                            <div class="d-grid gap-2 mt-4">
                              <button class="btn btn-lg btn-primary fw-bold" type="button">Pagar</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/newsletter') %>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
    <script src="/js/cart.js"></script>
  </body>
</html>