<!doctype html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>

    <%- include('./partials/header') %>
    
    <main>
      <div class="container">
        <section id="main-slider" class="rounded my-3 d-flex align-items-end align-items-md-center px-4 px-md-5 py-5">
            <div class="row justify-content-between align-items-center">
              <div class="col-lg-4">
                <h5><span class="badge bg-dark">Novedad</span></h5>
                <h1>Marvel's Spider-Man Remasterizado</h1>
                <p>El mundo de Peter Parker choca con el de Spider-Man en una historia original repleta de acción.</p>
                <div class="d-flex align-items-center">
                  <span class="fs-3 me-3">50USD</span><a href="product.html" class="btn btn-lg btn-primary border-0" role="button"><i class="fa-solid fa-cart-shopping"></i> COMPRAR</a>
                </div>
              </div>
              <div class="col-lg-3 d-flex flex-row flex-lg-column d-none d-lg-flex">
                <article class="mb-3 shadow">
                  <img src="/images/oferta-01.webp" class="rounded img-fluid" alt="...">
                </article>
                <article class="mb-3 shadow">
                  <img src="/images/multiversus.jpeg" class="rounded img-fluid" alt="...">
                </article>
                <article class="shadow">
                  <img src="/images/oferta-03.jpeg" class="rounded img-fluid" alt="...">
                </article>
              </div>
            </div>
        </section>
        <div id="slider-indicators" class="d-flex justify-content-center d-md-none mb-4">
          <button type="button" class="slide-indicator selected"></button>
          <button type="button" class="slide-indicator"></button>
          <button type="button" class="slide-indicator"></button>
        </div>

        <section id="ofertas" class="py-3">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Ofertas imperdibles</h4>
              </div>
              <article class="col-md-4">
                <div class="image-container position-relative mb-3">
                  <img src="/images/oferta-01.webp" class="rounded img-fluid" alt="...">
                  <span class="position-absolute bottom-0 start-0 ms-3 mb-3 badge bg-primary fs-5">-50%</span>
                </div>
                <h4>Doom 2045</h4>
                <p><s class="text-muted">49,99USD</s> 24,99USD</p>
              </article>
              <article class="col-md-4">
                <div class="image-container position-relative mb-3">
                  <img src="/images/oferta-02.jpeg" class="rounded img-fluid" alt="...">
                  <span class="position-absolute bottom-0 start-0 ms-3 mb-3 badge bg-primary fs-5">-50%</span>
                </div>
                <h4>Madden NFL 2023</h4>
                <p><s class="text-muted">49,99USD</s> 24,99USD</p>   
              </article>
              <article class="col-md-4">
                <div class="image-container position-relative mb-3">
                  <img src="/images/oferta-03.jpeg" class="rounded img-fluid" alt="...">
                  <span class="position-absolute bottom-0 start-0 ms-3 mb-3 badge bg-primary fs-5">-50%</span>
                </div>
                <h4>Far Cry 6</h4>
                <p><s class="text-muted">49,99USD</s> 24,99USD</p>              
              </article>
            </div>
        </section>


        <section id="novedades" class="py-3">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Novedades</h4>
              </div>
              <article class="col-md-3">
                  <img src="/images/fifa23.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-3">
                  <img src="/images/fall-guys.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-3">
                  <img src="/images/multiversus.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-3">
                  <img src="/images/nba2k23.webp" class="rounded img-fluid" alt="...">
              </article>         
            </div>
        </section>

        <section id="proximamente" class="py-5">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Próximamente</h4>
              </div>
              <article class="col-md-3">
                  <img src="/images/fifa23.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-3">
                  <img src="/images/fall-guys.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-3">
                  <img src="/images/multiversus.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-3">
                  <img src="/images/nba2k23.webp" class="rounded img-fluid" alt="...">
              </article>          
            </div>
        </section>

        <section id="tabs" class="py-5">
            <div class="row">
              <div class="col-12">
                <ul class="d-flex list-unstyled">
                  <li><h4 class="mb-3 me-3">Ventas top</h4></li>
                  <li><h4 class="mb-3 text-muted">Mejor valorados</h4></li>
                </ul>
              </div>
              <article class="col-md-2">
                  <img src="/images/fifa23.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-2">
                  <img src="/images/fall-guys.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-2">
                  <img src="/images/multiversus.jpeg" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-2">
                  <img src="/images/nba2k23.webp" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-2">
                  <img src="/images/nba2k23.webp" class="rounded img-fluid" alt="...">
              </article>
              <article class="col-md-2">
                  <img src="/images/nba2k23.webp" class="rounded img-fluid" alt="...">
              </article>
            </div>
        </section>

        <section id="noticias" class="py-5">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Noticias</h4>
              </div>
              <article class="col-md-4">
                <img src="/images/oferta-01.webp" class="rounded img-fluid mb-3" alt="...">
                <h4>Ofertas de la QuakeCon</h4>
                <p class="text-muted">¡Celebra la QuakeCon ahorrando a lo grande en tus juegos favoritos de Bethesda!</p>
              </article>
              <article class="col-md-4">
                <img src="/images/oferta-02.jpeg" class="rounded img-fluid mb-3" alt="...">
                <h4>Genshin Impact - Versión 2.8</h4>
                <p class="text-muted">¡La actualización incluye aventuras en las islas, trajes elegantes e intrigantes historias sobre Shikanoin Heizou y sus amigos!</p>   
              </article>
              <article class="col-md-4">
                <img src="/images/oferta-03.jpeg" class="rounded img-fluid mb-3" alt="...">
                <h4>Fall Guys</h4>
                <p class="text-muted">¿Te has enterado? ¡El Doom Slayer, el ciberdemonio y el cacodemonio acaban de llegar a la tienda de Fall Guys!</p>
              </article>
            </div>
        </section>
      </div>

      <%- include('./partials/newsletter') %>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>