<!doctype html>
<html lang="en">
  <%- include('./partials/head', {title: 'Gaming Zone - Tu portal Gamer'} ) %>
  <body>

    <%- include('./partials/header') %>

    <main>
      <div class="container">
        <%
        if (topSales.length) {
        %>
        <section id="main-slider" class="rounded my-3 d-flex align-items-end align-items-md-center px-4 px-md-5 py-5" style="background-image:url('/images/<%=topSales[0].primary_image_src %>');">
            <div class="row justify-content-between align-items-center">
              <div class="col-lg-4">
                <%
                if (topSales[0].is_new) {
                %>
                <h5><span class="badge bg-dark">Novedad</span></h5>
                <%
                }
                %>
                <h1><%=topSales[0].title%></h1>
                <p><%=topSales[0].description%></p>
                <div class="d-flex align-items-center">
                  <% if (topSales[0].discount > 0) { %>
                    <span class="fs-3 me-3"><s class="text-muted"><%=topSales[0].price%>USD</s> <%= (topSales[0].price / 100) * (100 - topSales[0].discount) %>USD</span>
                    <%} else {%>
                    <span class="fs-3 me-3"><%= topSales[i].price %> USD</span>
                    <%}%>
                  <a href="/products/<%=topSales[0].id%>" class="btn btn-lg btn-primary border-0" role="button"><i class="fa-solid fa-cart-shopping"></i> COMPRAR</a>
                </div>
              </div>
              <div class="col-lg-3 d-flex flex-row flex-lg-column d-none d-lg-flex">
                <%
                for(let i = 1; i < topSales.slice(0, 4).length; i++) { 
                %>
                <article class="mb-3 shadow">
                    <a href="/products/<%=topSales[i].id%>">
                        <img src="/images/<%=topSales[i].primary_image_src%>" class="rounded img-fluid" alt="...">
                    </a>
                </article>
                <%
                }
                %>
              </div>
            </div>
        </section>
        <%
        }
        %>
        <div id="slider-indicators" class="d-flex justify-content-center d-md-none mb-4">
          <button type="button" class="slide-indicator selected"></button>
          <button type="button" class="slide-indicator"></button>
          <button type="button" class="slide-indicator"></button>
        </div>

        <section id="ofertas" class="py-3">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Ofertas imperdibles</h4>
              </div>

                <%
                if (offers.length) {
                    for(let i = 0; i < offers.length; i++) { 
                %>
                <article class="col-md-4 mb-3">
                    <div class="image-container position-relative">
                        <img src="/images/<%=offers[i].primary_image_src%>" class="rounded img-fluid" alt="...">
                        <span class="position-absolute bottom-0 start-0 ms-3 mb-3 badge bg-primary fs-5">-<%=offers[i].discount%>%</span>
                    </div>
                    <h4><a href="/products/<%=offers[i].id%>" class="text-decoration-none text-light"><%=offers[i].title%></a></h4>
                    <p><s class="text-muted"><%=offers[i].price%>USD</s> <%= (offers[i].price / 100) * (100 - offers[i].discount) %>USD</p>
                </article>
                <%
                    }
                } else {
                %>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">No hay ofertas disponibles</p>
                        </div>
                    </div>
                <%
                }
                %>

            </div>
        </section>


        <section id="novedades" class="py-3">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Novedades</h4>
              </div>

                <%
                if (news.length) {
                    for(let i = 0; i < news.length; i++) { 
                %>
                <article class="col-md-3 mb-3">
                    <a class="position-relative overflow-hidden w-100 h-100 d-block" href="/products/<%=news[i].id%>">
                        <div class="product-hover position-absolute w-100 h-100 rounded"><h5 class="text-light"><%=news[i].title%></h5></div>
                        <img src="/images/<%=news[i].primary_image_src%>" class="rounded img-fluid" alt="...">
                    </a>
                </article>
                <%
                    }
                } else {
                %>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">Aun no hay novedades</p>
                        </div>
                    </div>
                <%
                }
                %>
            </div>
        </section>

        <section id="proximamente" class="py-5">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Próximamente</h4>
              </div>
                <%
                if (comingSoon.length) {
                    for(let i = 0; i < comingSoon.length; i++) { 
                %>
                <article class="col-md-3 mb-3">
                    <a class="position-relative overflow-hidden w-100 h-100 d-block" href="/products/<%=comingSoon[i].id%>">
                        <div class="product-hover position-absolute w-100 h-100 rounded"><h5 class="text-light"><%=comingSoon[i].title%></h5></div>
                        <img src="/images/<%=comingSoon[i].primary_image_src%>" class="rounded img-fluid" alt="...">
                    </a>
                </article>
                <%
                    }
                } else {
                %>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">Aun no hay novedades</p>
                        </div>
                    </div>
                <%
                }
                %>
            </div>
        </section>

        <section id="tabs" class="py-5">
            <div class="row">
              <div class="col-12">
                <ul class="d-flex list-unstyled">
                  <li><h4 class="mb-3 me-3">Ventas top</h4></li>
                  <li><h4 class="mb-3 text-muted">Mejor valorados</h4></li>
                </ul>
              </div>
                <%
                if (topSales.length) {
                    for(let i = 0; i < topSales.length; i++) { 
                %>
                <article class="col-md-3">
                    <a class="position-relative overflow-hidden w-100 h-100 d-block mb-3" href="/products/<%=topSales[i].id%>">
                        <div class="product-hover position-absolute w-100 h-100 rounded"><h5 class="text-light"><%=topSales[i].title%></h5></div>
                        <img src="/images/<%=topSales[i].primary_image_src%>" class="rounded img-fluid" alt="...">
                    </a>
                </article>
                <%
                    }
                } else {
                %>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">Aun no hay novedades</p>
                        </div>
                    </div>
                <%
                }
                %>
            </div>
        </section>
<!--
        <section id="noticias" class="py-5">
            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">Noticias</h4>
              </div>
              <article class="col-md-4">
                <img src="/images/oferta-01.webp" class="rounded img-fluid mb-3" alt="...">
                <h4>Ofertas de la QuakeCon</h4>
                <p class="text-muted">¡Celebra la QuakeCon ahorrando a lo grande en tus juegos favoritos de Bethesda!</p>
              </article>
              <article class="col-md-4">
                <img src="/images/oferta-02.jpeg" class="rounded img-fluid mb-3" alt="...">
                <h4>Genshin Impact - Versión 2.8</h4>
                <p class="text-muted">¡La actualización incluye aventuras en las islas, trajes elegantes e intrigantes historias sobre Shikanoin Heizou y sus amigos!</p>   
              </article>
              <article class="col-md-4">
                <img src="/images/oferta-03.jpeg" class="rounded img-fluid mb-3" alt="...">
                <h4>Fall Guys</h4>
                <p class="text-muted">¿Te has enterado? ¡El Doom Slayer, el ciberdemonio y el cacodemonio acaban de llegar a la tienda de Fall Guys!</p>
              </article>
            </div>
        </section>
-->
      </div>
      <%- include('./partials/newsletter') %>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>